
/* 
sequence of styling section
--------------------------
body default and buttons
header
showcase
about 
services 
skills 
portfolio 
client review 
achivement 
invite 
contact 
footer  

*/


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100; 300; 400; 500; 700;800; 900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --chandan-bg: #ff5200;
    /* --chandan-bg: rgb(90, 29, 214); */
    --white: #fff;
    --black: #0d0226;
   
    --gray:#ddd;
    --dark-gray:rgb(72, 72, 72);
    --light-gray: #bcbcbc54;
    --gradient-text:linear-gradient(to right, #d0ce30 0%, #671708 100%);
    --light-purple: #d405f3;
    --purple-orange: linear-gradient(126deg, rgb(255 82 0 / 87%), rgb(249 21 255 / 97%));
    --dark-purple:rgb(71 4 75);
}

body {
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
   
}
h1{
    font-size: 5rem;
    font-weight: 800;
}
/* scroll  */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--dark-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--light-purple);
}

/* body default  */
body p {
    letter-spacing: .3px;
}

ul {
    list-style: none;
    padding-left: 0 !important;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.subtitle {
    color: var(--gray);
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}
.btn{
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 4rem;
    border-radius: 28px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .3s ease-in-out;  
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}


.btn-primary,
.btn-trans,
.btn-outline-dark:hover{
    color: var(--white);
    border: 2px solid var(--chandan-bg);
    background: var(--chandan-bg);
    background-image: var(--purple-orange);
    
    
}
.btn-primary:hover{
    color: var(--white);
    background: var(--black);
    border: 2px solid var(--chandan-bg);
}

.btn-light{
    color: var(--chandan-bg);
    background: var(--white);
    border: 2px solid var(--chandan-bg);

}
.btn-light:hover{
    color: var(--white);
    background-image: var(--purple-orange);
    border: 2px solid var(--chandan-bg);
}

.btn-trans:hover{
    color: var(--white);
    background: transparent;
    border: 2px solid var(--chandan-bg);
}

.btn-outline-dark{
    color: var(--white);
    background: transparent;
    border: 2px solid var(--chandan-bg);
}


/*-------------
header 
-------------------------*/
.header {
    height: 633px;
    background-size: cover;
   
    position: relative;
    background-attachment: fixed;
    z-index: 9999;
    margin-bottom: 18rem !important;
}

.header_wrap {
    z-index: 00000;
    overflow: hidden;
    padding-bottom: 5rem;
}
.header_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(#000000d6, #000000e0), url(../img/team.jpg);

    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 100%);
    z-index: -1;
  
  }




 
  





  @keyframes borderAnimation {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }


/* nav  */
.header_wrapper .navbar {
    padding:15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}


.header_wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--chandan-bg);
    line-height:2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 14px;
}
.header_wrapper .nav-item:last-child{
    margin-right: 0;
}
.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray);
    display:inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: var(--light-purple);
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--chandan-bg);
}

.header-scrolled {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: var(--black);
    -webkit-box-shadow:  -3px 0px 3px 0px var(--light-purple);
    box-shadow:  -3px 0px 3px 0px var(--light-purple);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: var(--chandan-bg);
}

/* header  */
/* showcase  */
.header #showcase {
    padding-top: 15rem;
}

.header #showcase .showcase-title h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.header #showcase .showcase-title h1 strong {
    color: var(--chandan-bg);
}

.header #showcase .showcase-social-icon {
    display: flex;
    padding-top: 2rem
}

.header #showcase .showcase-social-icon li {
    margin: 0 1.2rem;
}

.header #showcase .showcase-social-icon li a {
    background: #0000;

    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #ddd;
    display: grid;
    place-items: center;
    color: #fff;
    border-radius: 100%;
    transition: all .3s;
    text-decoration: none;
}

.header #showcase .showcase-social-icon li:hover a {
    background: var(--chandan-bg);
    color: var(--white);
    border: 1px solid var(--chandan-bg);
    transform: rotate(360deg);
}

.header #showcase .showcase-social-icon li.upwork a svg path:first-child {
    fill: transparent;
}
.header #showcase .showcase-social-icon li.upwork a svg {
    width: 23px;
    height: 23px;
}
.header #showcase .showcase-social-icon li.upwork a svg {
    width: 23px;
    height: 23px;
}
.header #showcase .showcase-image {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.header #showcase .showcase-image img {
    border: 4px solid var(--chandan-bg);
    transform: scale(1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.header #showcase .showcase-image img:hover{
    transform: scale(1.08);
}

.header #showcase .showcase-btn {
    margin-top: 7rem;
}



.header #showcase .showcase-btn>ul {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header .showcase-title p {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}

.header .showcase-title p span {
    color: var(--chandan-bg);
}



/*-------------
about
-------------------------*/
section#about {
    
    /* background: url(/img/round-with-dotted.png); */
    background-position: right;
    background-repeat: no-repeat;
    background-size: 21rem;
    background-attachment: fixed;
    padding-bottom: 8rem !important;
   
}
.about-main-wrapper {
    box-shadow: 0px 3px 16px 0px #a9a9a9;
    padding: 7rem;
    border-radius: 10px;
}
.about-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-decroration-bar {
    position: relative;
}
.about-image-wrapper {
    max-width: 400px;
}
/* .image-decroration-bar{

} */


.image-decroration-top-left-bar span:first-child,
.image-decroration-top-left-bar span:last-child,
.image-decroration-top-right-bar span:first-child,
.image-decroration-top-right-bar span:last-child,
.image-decroration-bottom-right-bar span:first-child,
.image-decroration-bottom-right-bar span:last-child,
.image-decroration-bottom-left-bar span:first-child,
.image-decroration-bottom-left-bar span:last-child{
    position: absolute;
    content: "";
    width: 6rem;
    height: 4px;
    background: var(--purple-orange);
   
}

.image-decroration-top-left-bar span:last-child{
  
    transform-origin: left;
    transform: rotate(90deg);
      
}

.image-decroration-top-right-bar span:first-child{
  
    right: 0;
    transform-origin: right;
    transform: rotate(0deg);
}
.image-decroration-top-right-bar span:last-child{
  
    right: 0;
    transform-origin: right;
    transform: rotate(270deg);
}

.image-decroration-bottom-right-bar span:first-child{
  
    right: 0;
    transform-origin: right;
   
}

.image-decroration-bottom-right-bar span:last-child{

    right: 0;
    transform-origin: right;
    transform: rotate(90deg);
      
}
.image-decroration-bottom-left-bar span:first-child{

    transform-origin: right;
   
}

.image-decroration-bottom-left-bar span:last-child{
    transform-origin: left;
    transform: rotate(270deg);
      
}



.about-image-wrapper img{
  
    border-radius: 50%;
    box-shadow:0px 9px 16px 0px var(--gray);
    position: relative;

} 


.about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem;
    position: relative;
}

.about-description-wrapper h1{
    color: var(--chandan-bg);
}
.about-description-wrapper p {
    color: rgb(98 98 98);
    padding: 1rem 0;
}
.about-description-wrapper .download-resume{
    display: flex;
    justify-content: space-between;
} 
.about-description .about-quote-icon i {
    color: var(--light-gray);
    font-size: 4rem;
    font-weight: 600;
}

.about-quote-icon.about-quote-icon-left {
    position: absolute;
    top: -43px;
    left: -31px;
}
.about-quote-icon.about-quote-icon-right {
    position: absolute;
    bottom: -44px;
    right: -43px;
}

.image-decroration-bar{
    transform: scale(1);
    transition: all .4s;
}


.about-image-wrapper:hover .image-decroration-bar{
    transform: scale(1.05);
    
}


/*-------------
portfolio website
-------------------------*/
#portfolio{
    padding: 8rem 0 10rem 0;
    background: linear-gradient(#2a2929f7,#0b0101db, #2e1212, #050e4cd9), url(../img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
   
}
.portfolio-title-content p {
    color: var(--gray);
    font-style: italic;
    text-align: center;
    width: 69%;
    margin: 0 auto;
    padding: 2rem 0;
}
.portfolio-projects-tabs{
    width: 800px;
    margin: 0 auto;
    padding: 4rem 0;
}
.portfolio-projects-tabs .tabs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.portfolio-projects-tabs .tabs > li{
    margin: 1.3rem 0;
}
.portfolio-projects-tabs .tabs .tab a[data-switcher]{
    border-radius: 27px;
    box-shadow: rgb(104 4 86) 0px 0px 77px 19px;
    transition: all .4s;
    cursor: pointer;
}


.portfolio-projects-tabs .tabs .tab.is-active a[data-switcher]{
  
    background: var(--purple-orange);
    color: var(--white);
    
}

.portfolio-projects-tabs .tabs .tab a[data-switcher]{
    color: var(--gray);
    font-size: 2rem;
    padding: 1rem 3rem;
    transition: all .5s;  
}

.portfolio-projects-tabs .tabs .tab a[data-switcher]:hover{
    background: var(--purple-orange);
     text-decoration: none;

}
.pages{
    width: 100%;
}
.pages .page{
    display: none;
}
.gallery {
    margin: 2.5rem 0;
}
.portfolio-box{
    overflow: hidden;
    position: relative;
    padding: 1rem;
    

}

.portfolio-box > div{
    
    /* position: relative; */
    transition: all .6s;
  
}
.live-preview-overlay a i {
    font-size: 2rem;
    margin: 0 1rem;

}

.live-preview-overlay {
    position: absolute;
    bottom: -25rem;
    left: 0px;
    padding: 0rem;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(rgba(42, 41, 41, 0.044), rgb(11 1 1 / 60%), rgb(46 18 18 / 43%), rgba(5, 14, 76, 0.85));
    transition: all 0.2s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start; 

} 


 .portfolio-box > div:hover .live-preview-overlay{
    padding-bottom: 50rem; 
}
.portfolio-box > div > img{
    transform: scale(1);
    transition: transform .2s;
    width: 100%;
}
.portfolio-box:hover .portfolio-box > div > img{
    transform: scale(1.2);
}


.live-preview-overlay a{
   
   
    position: absolute;
    opacity: 0;
    transform: translateX(-120px);
    transition-delay: .2s;
    text-align: center;
    display: inline-block;
    margin-top: 10rem;
}
.live-preview-overlay a.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.live-preview-overlay a.btn:hover{
    background: rgba(34, 20, 20, 0.464);
    border-color: var(--chandan-bg);
    transition: all .1s;
    

}
.portfolio-box > div:hover .live-preview-overlay a{
    transform: translateX(0px);
    opacity: 1;
    transition-duration: 0.3s; 
} 

.pages .page.is-active{
    display: flex;
}

/*-------------
 cliant-reviw start 
-------------------------*/


section#client-review{
	
	position: relative;
	padding: 8rem 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
    text-align: center;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: #7d93b2;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h1 {
	float: left;
	width: 100%;
	text-align: center;
	color: var(--chandan-bg);
	font-size: 34px;
	position: relative;
}
/* .section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: var(--light-purple);
	margin-left: -25px;
} */
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 57%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
    background: var(--chandan-bg);
	background-image: var(--purple-orange);
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: 0;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left:0;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover,
.listing-carousel-button.listing-carousel-button-prev:hover{
	
	background: var(--light-purple);
}

.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.swiper-slide.swiper-slide-active .testi-item {
    border: 6px solid #efefef;
    border-radius: 5px;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: var(--light-purple);
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:16px;
     
	 padding-top:6px;
	 color:var(--chandan-bg);
}
.testimonials-carousel .swiper-slide{
    padding: 50px 0;
    padding-bottom: 9px;
}	 
.testi-avatar{
    position: absolute;
    left: 50%;
    top: -47px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    z-index: 20;
    background: white;
    border-radius: 100%;
}
.testi-avatar i,
.testi-avatar img{
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
    font-size: 8rem;
    color: #e4e4e4;
}

.row.upwok_review_btn {
    display: flex;
    justify-content: center;
    max-width: 254px;
    margin: 0 auto;
    text-align: center;
    margin-top: 3.3rem;
}

.row.upwok_review_btn a {
    display: block;
    text-align: center;
}


.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	/* font-family: Georgia, "Times New Roman", Times, serif; */
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.swiper-wrapper{
    padding-bottom: 2rem;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination {
    width: 50% !important;
    margin: 0 auto;
    padding-right: 4rem;
}



.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #384f95;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}



/* ------------------
        servies 
------------------ */


#service {
   
    background: linear-gradient(#2a2929f7,#0b0101db, #2e1212, #050e4cd9), url(../img/office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 8rem 0 !important;
    
}

#service .service-boxes {
    padding: 16px 12px;
    background: #fff;
    color: #000000ba;
    position: relative;
    height: 33rem;
    margin: 2rem 0;
    position: relative;
    border-radius: 13px;
}

#service .service-boxes .icon-box {
    margin: 0 auto;
    width: 87px;
    height: 87px;
    position: absolute;
    top: 37px;
    left: 40px;
    background: white;
    outline: 7px solid #ddddddf0;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

#service .service-boxes .icon-box img {
    width: 54px;
}

#service .service-boxes .service-descp {
    padding-top: 14rem;
    text-align: start;
    padding-left: 2rem;
    padding-right: 2rem;
}

#service .service-boxes .service-descp h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.service-boxes:hover .icon-box i {
    transform: scale(.8) !important;
}



.title {
    text-align: center;
    width: 65rem;
    margin: 0 auto;
}

#service .title {
    padding-bottom: 6rem;
    padding-top: 3rem;
}

.title h1 {
    color: var(--chandan-bg);
  
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}


#service .service-boxes .service-descp p {
    padding: 0rem;
}

/* ------------------
        skills 
------------------ */


section#all-skills {
    
    padding-bottom: 6rem;
    padding-top: 5rem;
    
}
section#all-skills .subtitle{
    color: var(--black);
}

.all-slikls-boxes h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}

.basic-web-dev-skills,
.mern-stack-dev,
.more-web-relate-knowladge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem 0;
}

.skills-images-boxes {
    width: 12rem;
    height: 12rem;
    display: flex;
    border: 11px solid #d5d5d5;
    border-radius: 50%;
    justify-content: space-around;
    align-items: center;
}

.all-slikls-boxes h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: 2px;
    padding-top: 1rem;
}

.skills-images-boxes img {
    border-radius: 50px;
}

.all-skills-boxeswrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.basic-web-dev-skills {
    padding-left: 11rem;
    padding-right: 11rem;
}

.more-web-relate-knowladge {
    padding-left: 20rem;
    padding-right: 20rem;
}

#all-skills .title {
    padding-bottom: 5rem;
}

.all-slikls-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
/* ------------------
        achievement 
------------------ */

#achievement {
    background:linear-gradient(#2a2929f7,#0b0101db, #2e1212, #050e4cd9), url(../img/achivement.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding-bottom: 7rem !important;
    padding-top: 5rem !important;
}

#achievement .title {
    padding-bottom: 4rem;
}

#achievement .achive-boxes {
    background: #000;
    padding: 1rem 0;
    text-align: center;
    padding: 1rem;
    transition: all .3s ease-in-out;
}
#achievement .achive-boxes:hover{
    background: var(--dark-purple);
}

#achievement .achive-boxes .achievement-icon-amount{
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    

}

#achievement .achive-boxes strong,
#achievement .achive-boxes i  {
    font-size: 3rem;
}

#achievement .achive-boxes h2 {
    text-transform: uppercase;
    color: #fff !important;
    font-size: 2rem;
}

/* ------------------
        invite 
------------------ */


section#invite .title {
    padding-bottom: 10rem;
}

#invite .invite-boxes {
    background: #dddddd61;
    height: 18rem;
    padding: 0 20px;
    position: relative;
    transition: all .3s;
}
#invite .invite-boxes:hover{
    background: var(--gray);
}

#invite .invite-boxes .invite-icon {
    width: 7.5rem;
    margin: 0 auto;
}

#invite .invite-boxes .invite-icon i {
    font-size: 3rem;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #fff;
    border: 2px solid #ddd;
    color: #333;
    display: grid;
    place-items: center;
    border-radius: 100%;
    top: -40px;
}

#invite .invite-boxes .invite-descp {
    padding-top: 70px;
}

#invite .invite-boxes .invite-descp a,
#invite .invite-boxes .invite-descp p {
    text-transform: capitalize;
}

#invite .invite-boxes .invite-descp a {
    color: var(--chandan-bg);
    font-weight: 700;
}

#invite .emailbox .invite-descp p {
    text-transform: none;
}

/* ------------------
        contact 
------------------ */

section#contact {
    padding-bottom: 4rem;
}
#contact .contact-side input,
#contact .contact-side textarea {
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    display: block !important;
    width: 100%;
    padding: 12px 5px;
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
}

#contact .contact-side .send-message-btn {
    margin-top: 3rem;
}

#contact .contact-side .send-message-btn input {
    background: var(--chandan-bg);
    padding: 1rem 3rem;
    text-decoration: none;
    color: #fff;
    border: 2px solid var(--chandan-bg);
    border-radius: 3px;
    transition: all .3s;
}

#contact .contact-side .send-message-btn input:hover {
    background: #000;
    border: 2px solid var(--chandan-bg);
}

#contact .mapside p iframe {
    width: 100%;
    height: 40rem;
}

input:focus {
    outline: 0 !important;
    border-color: var(--chandan-bg);
    box-shadow: 0 0 5px var(--chandan-bg);
}

textarea:focus {
    outline: 0 !important;
    border-color: var(--chandan-bg);
    box-shadow: 0 0 5px var(--chandan-bg);
}



/*---------------
     footer 
------------------- */
#footer{
    background: var(--black);
    padding: 10rem  0 1rem 0
}
.footer-links-title{
    padding-bottom: 2rem;
}
.footer-links-title h2{
    color: var(--white);
    text-transform: capitalize;
}
#footer .footer-links li{
    padding-top: .7rem;
}
#footer .footer-links li a{
    color: var(--gray);
    text-transform: capitalize;
    transition: all .2s;
    cursor: pointer;

}
#footer .footer-links li a i{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
    width:30px;
    height: 30px;
    padding: .5rem;
    color: var(--gray);
    border: 1px solid var(--chandan-bg);
    border-radius: 50%;
   margin-right: 1rem;
}
#footer .footer-links li a:hover{
color: var(--chandan-bg);
}

#footer .showcase-social-icon li a{
    display: flex;
    padding-left: 1rem;
}
.footer-services li{
    color: var(--gray);
}
#footer .footer-links{
    padding-left: 2rem !important;
}
#footer .usefull-link-wrapper,
#footer .Social-links-wrapper,
#footer .footer-services-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-caption p{
color: var(--white);
border-top: 1px solid rgb(113, 113, 113);
padding: 3rem 0 0 2rem;
text-align: center;
margin-top: 2rem;
}
.col-sm-4.footer-services-wrapper h2 {
    padding-right: 4rem;
}
/*-----------------
 footer 
--------------------- */

@media (max-width:1400px){
    #service .service-boxes{
        height: 38rem;
    }
}

@media (max-width:1200px) {
    header {
        height: 500px;
    }




    .about-description{
        padding: 0;
        padding-left: 2rem;
    }

    #showcase .showcase-title h1 {
        font-size: 4rem;
    }

    #showcase .showcase-social-icon {
        padding-left: 10px;
    }

    #showcase .showcase-social-icon li:first-child {
        margin-left: 0;
    }

    #showcase .showcase-btn {
        margin-top: 10rem;
    }

    #showcase .showcase-image {
        width: 35rem;
        float: right;
    }

    #service .service-boxes .icon-box i {
        width: 89px;
        height: 89px;
    }

    #service .service-boxes::after {
        width: 89px;
        height: 89px;
    }








/* about  */


    .progress-bar {
        text-align: end;
        padding-right: 2rem;
    }

    #contact .mapside p iframe {
        width: 100%;
        height: 40rem;
    }

    #service .service-boxes{
        height: 40rem;
    }
}

@media (max-width:991px) {

    
h1{
    font-size: 4rem;
}
/* nav  */
.header {
    height: 100vh;
}

.header_wrap::before{
    clip-path: none;
}
.navbar-toggler-icon{
    
    font-size: 30px;
    font-weight: 500;
}
.header-scrolled {
    height: auto;
}
 
.header_wrapper .menu-navbar-nav {
    text-align: center;
    background-color: var(--black);
    padding-bottom: 15px;
}

.header_wrapper .nav-item .nav-link {
    margin-top: 15px;
}
/* about  */
.about-main-wrapper{
width: 85%;
margin: 0 auto;
}
.about-description-wrapper h1{
    text-align: center;
    padding: 2rem 0 1rem 0;
}



/* showcase  */

.showcase-btn{
   padding-right: 38%;
}
.showcase-wrapper {
    padding: 0 2rem;
}


/* services  */
#service {
    padding: 6rem 0 5rem 0 !important;
}
.serice-boxes-wrapper{
    padding: 0 2rem;
}
    #service .service-boxes .icon-box i {
        top: -45px !important;
    }

    #service .service-boxes:after {
        top: -45px !important;
    }
    #service .service-boxes {
        padding: 16px 10px;
        background: #fff;
        color: #000000ba;
        position: relative;
        height: 25rem;
        margin: 1rem 0;
    }
/* skills  */


   
    .listing-carousel-button {
      
        top: 61%;
        width: 60px;
       
    }
    .testimonials-text {
        padding: 75px 103px 75px;
    
    }
    #service .service-boxes{
        height: 35rem;
    }
}

@media (max-width:870px) {
  
    header {
        height: 500px;
    }

    .header .logo-part img {
        width: 100px;
    }

    /* showcase  */

    #showcase .showcase-title h1 {
        font-size: 3.5rem;
    }

    #showcase .showcase-image {
        display: none;
        width: 26.6rem;
        position: relative;
        top: 34%;
        right: 8%;
    }

    #showcase .showcase-btn {
        margin-top: 6rem !important;
    }
/* about  */

.about-description {
    padding: 0;
    padding-left: 0rem;
    padding-right: 3rem;
}

.about-quote-icon.about-quote-icon-left {
  
    top: 10px;
    left: -31px;
}
.about-quote-icon.about-quote-icon-right {

    bottom: -44px;
    right: -43px;
}
/* service  */

    .mapside {
        padding-top: 3rem !important;
    }


    .skills-images-boxes {
        width: 8rem;
        height: 8rem;
        border: 8px solid #d5d5d5;
    }

    .more-web-relate-knowladge {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .all-slikls-boxes h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .portfolio-projects-tabs{
        width: 100%;
        padding: 0rem 0;
    }

    /*------------------ 
    client review 
    --------------- */
    .section#client-review{
        padding: 4rem 0;
    }
    #service .title {
        padding-bottom: 4rem;
    }
    .header #showcase {
        padding-top: 32rem;
    }
}




@media (max-width:767px) {
    h1{
        font-size: 3rem;
    }
    .responsive-row {
        height: 63px;
    }

    /* header  */

   
 
.showcase-btn{
   padding-right: 0;
}


    #showcase .showcase-btn {
        margin-top: 8rem;
    }


/* about  */
section#about {
   
    background-size: 14rem;
   
   
}
    .about-main-wrapper{
        width: 95%;
        padding: 4rem 1rem 5rem 1rem;
    }
    .about-description-wrapper .download-resume {
      
        flex-wrap: wrap;

    }
    .about-description .about-quote-icon{
        display: none;
    }
    .about-description-wrapper h1{
        padding: 2rem 0 0 0;
    }
    .about-description {
        /* padding: 0; */
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .image-decroration-top-left-bar span:first-child,
.image-decroration-top-left-bar span:last-child,
.image-decroration-top-right-bar span:first-child,
.image-decroration-top-right-bar span:last-child,
.image-decroration-bottom-right-bar span:first-child,
.image-decroration-bottom-right-bar span:last-child,
.image-decroration-bottom-left-bar span:first-child,
.image-decroration-bottom-left-bar span:last-child{
    
    width: 4rem;
    height: 3px;

   
}

 /* services  */
 
    #service .service-boxes {
        margin-bottom: 2rem !important;
    }

    #service .service-boxes h1 {
        margin-bottom: 1.5rem !important;
    }

    #service .title {
        padding: 0 2rem 4rem 2rem;
    }
   
    .portfolio-title-content p {
         width: 80%;
        padding: 1rem 0;
    }

    #achievement .achive-boxes {
        margin-bottom: 2rem !important;
    }

    #invite .invite-boxes {
        margin-bottom: 6rem !important;
    }

    section#invite .title {
        padding-bottom: 13rem;
    }

 
    #service .service-boxes {
        height: auto;
    }

    .basic-web-dev-skills {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .listing-carousel-button{
        width: 50px;
    }
    /* portfolio projects  */

  
    /* client review  */
    .testimonials-text {
        padding: 73px 77px 75px;
        
    }
    .testimonials-carousel .swiper-slide {
        padding: 36px 0 0 0;
    }
    /* footer  */
    #footer {
        background: var(--black);
        padding: 7rem 0 1rem 0;
    }
}



@media (max-width:576px) {
    h1{
        font-size: 2.5rem;
    }
    .title {
        width: 100% !important;
    }
    /* header  */

    #showcase .showcase-title h1 {
        font-size: 3.3rem !important;
    }

    .header .showcase-title p {
        font-size: 2rem;
    }

    #showcase .showcase-social-icon {
        padding-top: 1rem;
    }
    /* about  */
    section#about {
        background-size: 8rem;
       
       
    }
    .about-image-wrapper {
        width: 85%;
    }
    .about-description-wrapper .download-resume {
        flex-direction: column;

    }
    .about-description-wrapper .download-resume > a {
        display: inline-block;
        text-align: center;
        margin: 1rem 0;
    }

    .about-description {
     
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .about-description h1{
        padding: 2rem 0 0 0;
    }
    .about-main-wrapper {
        width: 98%;
        padding: 4rem 1rem 5rem 1rem;
    }

    .image-decroration-top-left-bar span:first-child,
    .image-decroration-top-left-bar span:last-child,
    .image-decroration-top-right-bar span:first-child,
    .image-decroration-top-right-bar span:last-child,
    .image-decroration-bottom-right-bar span:first-child,
    .image-decroration-bottom-right-bar span:last-child,
    .image-decroration-bottom-left-bar span:first-child,
    .image-decroration-bottom-left-bar span:last-child{
        
        width: 3.5rem;
        height: 3px;
    
       
    }
 
    .s-title {
        font-size: 3.5rem !important;
    }

 
    .basic-web-dev-skills,
    .more-web-relate-knowladge {
        padding-left: 0;
        padding-right: 0;
    }

    section#invite .title {
        padding-bottom: 10rem;
    }

    .portfolio-title-content p {
        width: 95%;
       padding: 1rem 0;
   }
   .listing-carousel-button {
      
    top: 50%;
 
   
}
#footer .footer-links {
    padding-left: 2rem !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer .usefull-link-wrapper, #footer .Social-links-wrapper, #footer .footer-services-wrapper{
    display: block;
    padding: 0 2rem 3rem 2rem;
}
#footer .footer-links{
    padding-left: 0 !important;

}
.footer-links-title {
    padding-bottom: 1rem;
}
.header #showcase {
    padding-top: 27rem;
}

}

@media (max-width:450px) {
 

    .header .showcase-title p {
        font-size: 2.1rem;
    }

  

    #service {
        margin-top: 6rem !important;
    }

    .header #showcase .showcase-btn ul a {
        font-size: 1.4rem;
    }

}